@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --color-blue: #0c2e55;
    --color-yellow: #ffd24f;
    --color-grey: #ede1e7;
    --color-red: #e8434a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--color-grey);
    color: var(--color-blue);
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: var(--color-blue);
    margin: 0.5rem 0;
}

h3 {
    margin: 1rem 0;
}

a,
a:visited,
a:active {
    color: var(--color-blue);
}

a:hover {
    text-decoration: none;
    color: var(--color-yellow);
}

.flex {
    display: flex;
}

.spcbtwn {
    justify-content: space-between;
}

.spcrnd {
    justify-content: space-around;
}

.bttm {
    align-items: end;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.main-header {
    background-color: var(--color-blue);
    color: var(--color-grey);
    padding: 1rem 0;
}

.main-nav {
    text-align: right;
}

.main-content {
    margin: 2rem 0;
}

thead {
    text-align: left;
}

td,
th {
    padding: 1rem 1rem 1rem 0;
    vertical-align: center;
}

/* auth */

.auth {
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    padding: 3rem;
}

input {
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
}

.column {
    flex-direction: column;
}

.error {
    color: var(--color-red);
    margin: 0.5rem 0;
}

/* booking */

.booking {
    width: 600px;
    margin: 0 auto 1rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    padding: 3rem;
}

.booking input {
    margin-right: 10rem;
}

.booking-info {
    margin-bottom: 2rem;
}

p {
    margin: 1rem 0;
}

.show > div {
    margin: 1.5rem 0 3rem;
}

.bookings {
    width: 400px;
    margin: 0 auto 1rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    padding: 3rem;
}

/* buttons */
.button {
    background-color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: var(--color-blue);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .button {
        padding: 0.5rem 1rem;
    }
}

.btn-book {
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: var(--color-yellow);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-book:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
}

@media (min-width: 768px) {
    .btn-book {
        padding: 0.5rem 1rem;
    }
}

.btn-auth {
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
    color: var(--color-yellow);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
        sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-auth:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
    transform: translateY(-2px);
}

.btn-auth:disabled {
    background-color: grey;
    color: white;
    border: none;
    cursor: default;
}

.btn-auth:disabled:hover {
    transform: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .btn-auth {
        padding: 0.5rem 1rem;
    }
}

/* responsiveness */

@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }

    .bookings {
        width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }

    .flights,
    .bookings-index {
        display: flex;
        justify-content: space-between;
    }
}
